<div>
    <h1>Checkins</h1>
    <p>Here is a list of your latest checkins</p>
    <ul class="list-unstyled">
        <li ng-repeat="(key, checkin) in checkins">
            <div class="checkin">
                <h2>{{checkin.firstName}} {{checkin.lastName}}</h2>
                <div class="date">
                    {{checkin.date | date: 'MMM d, yy h:mm a'}}
                </div>
                <button class="btn btn-danger" ng-click="deleteCheckin(key)">
                    <span class='glyphicon glyphicon-trash'></span>
                </button>
            </div>
        </li>
    </ul>
</div>