<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <form class="text-center" name="checkinForm" ng-submit="addCheckin(checkin)" novalidate>
            <div class="form-group"
                 ng-class="{'has-error': checkinForm.firstName.$invalid && checkinForm.firstName.$touched}">
                <input type="text" class="form-control" placeholder="First name" name="firstName"
                       ng-model='checkin.firstName' ng-required="true">
            </div>
            <div class="form-group"
                 ng-class="{'has-error': checkinForm.lastName.$invalid && checkinForm.lastName.$touched}">
                <input type="text" class="form-control" placeholder="Last name" name="lastName"
                       ng-model='checkin.lastName' ng-required="true">
            </div>
            <div class="form-group"
                 ng-class="{'has-error': checkinForm.email.$invalid && checkinForm.email.$touched}">
                <input type="email" class="form-control" placeholder="Email" name="email"
                       ng-model='checkin.email' ng-required="true">
            </div>
            <button type="submit" class="btn btn-primary btn-lg"
                    ng-disabled="checkinForm.$invalid">Check in
            </button>
        </form>
    </div>
</div>