<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center well">
        <h1>Login</h1>
        <h4>to access site features</h4>
        <div class="alert alert-danger text-left" ng-if="error">{{error.message}}</div>
        <form class="text-center" name="login" ng-submit="loginUser(user)" novalidate>
            <div class="form-group"
                 ng-class="{'has-error': login.email.$invalid && login.email.$touched}">
                <input type="email" class="form-control" placeholder="Email" name="email"
                ng-model="user.email" ng-required="true">
            </div>
            <div class="form-group"
                 ng-class="{'has-error': login.password.$invalid && login.password.$touched}">
                <input type="password" class="form-control" placeholder="Password" name="password"
                ng-model="user.password" ng-required="true">
            </div>
            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="login.$invalid">Login</button>
            <p>or <a href="#/register">register</a></p>
        </form>
    </div>
</div>