<h1>Add a meeting</h1>
<p>Type a meeting name and press +</p>
<form class="add-meeting" name="meetingForm" ng-submit="addMeeting(meetingName)" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" name="meetingName" ng-model="meetingName" class="form-control" placeholder="Meeting name"
                       ng-required="true">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" ng-disabled="meetingForm.$invalid">+</button>
                </span>
            </div>
        </div>
    </div>
    <h2>Your meetings</h2>
    <div class="meeting well" ng-repeat="(key, meeting) in meetings">
        <button class="btn btn-danger" ng-click="deleteMeeting(key)">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
        <a class="btn btn-success" ng-href="#/checkins/{{currentUser.regUser}}/{{meeting.$id}}">
            <i class="glyphicon glyphicon-ok"></i>
        </a>
        <a class="btn btn-primary" ng-href="#/checkins/{{currentUser.regUser}}/{{meeting.$id}}/checkinsList">
            <i class="glyphicon glyphicon-list"></i>
        </a>
        {{meeting.name}}
    </div>
</form>