<nav class="navbar navbar-default" ng-controller="NavController">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">AngularJS</a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li ng-show="currentUser">
                    <a href="#/meetings" class="meeting-nav">Meetings</a>
                    <span class="badge">{{meetingsCount}}</span>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="!currentUser" ng-class="{active: isActive('/register')}"><a href="#/register">Register</a></li>
                <li ng-show="!currentUser" ng-class="{active: isActive('/login')}"><a href="#/login">Login</a></li>
                <li ng-show="currentUser"><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
            <p class="navbar-text navbar-right greeting" ng-if="currentUser">You are logged in as {{currentUser.firstName}}</p>
        </div>
    </div>
</nav>