<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center well">
        <h1>Register</h1>
        <h4>to access site features</h4>
        <div class="alert alert-danger text-left" ng-if="error">{{error.message}}</div>
        <form name="registration" ng-submit="register(user)" novalidate>
            <div class="form-group"
                 ng-class="{'has-error': registration.firstName.$invalid && registration.firstName.$touched}">
                <input type="text" class="form-control" placeholder="First name" name="firstName"
                       ng-model='user.firstName' ng-required="true">
            </div>
            <div class="form-group"
                 ng-class="{'has-error': registration.lastName.$invalid && registration.lastName.$touched}">
                <input type="text" class="form-control" placeholder="Last name" name="lastName"
                       ng-model='user.lastName' ng-required="true">
            </div>
            <div class="form-group"
                 ng-class="{'has-error': registration.email.$invalid && registration.email.$touched}">
                <input type="email" class="form-control" placeholder="Email" name="email"
                       ng-model='user.email' ng-required="true">
            </div>
            <div class="form-group"
                 ng-class="{'has-error': registration.password.$invalid && registration.password.$touched}">
                <input type="password" class="form-control" placeholder="Password" name="password"
                       ng-model='user.password' ng-required="true">
            </div>
            <button type="submit" class="btn btn-primary btn-lg"
                    ng-disabled="registration.$invalid">Register</button>
            <p>or <a href="#/login">login</a></p>
        </form>
    </div>
</div>